.menu
{
    grid-area: h;
    background-color: white;
    padding: 7%;
    margin-right: 7%;
}

.sandwich 
{
    display: none;
}

.sandwich_img
{
    width: 30px;
    height: 30px;
}

.menu_exit
{
    display: none;
    width: 0px;
    height: 0px;
    float: right;
}

.menu_exit_img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
    left: -10px;
}

.menu_item
{
    display: block;
    text-decoration: none;
    margin-bottom: 4%;
}

@media screen and (max-width: 979px)
{
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 0%;
        padding-bottom: 0%;
        margin-right: 0%;
    }
    .menu_item
    {
        display: inline-block;
        width: 200px;
    }
}

@media screen and (max-width: 500px)
{
    .menu
    {
        display: none;
        padding-top: 2%;
        padding-left: 2%;
        position: fixed;
        top: 0;
        left: 45%;
        height: 100%;
        justify-content: flex-start;
        width: 50%;
    }

    .menu_item
    {
        margin-top: 10%;
    }

    .sandwich
    {
        display: block;
        position: absolute;
        top: 5%;
        left: 90%;
        width: 0px;
        height: 0px;
    }

    .sandwich_img
    {
        position: absolute;
        top: -150%;
        left: -70%;
        width: 30px;
        height: 30px;
    }

    .sandwich:checked ~ .menu > .menu_exit
    {
        display: block;
    }
}
