.order
{
    margin-top: 5%;
    grid-area: order;
    background-color: white;
    padding: 3%;
    margin-bottom: 10%;
}

.order_item
{
    margin-bottom: 2%;
}

.order_item > input,
.order_send
{
    float: right;
}

@media screen and (max-width: 979px)
{
    .order
    {
        margin-top: 0%;
    }
}

@media screen and (max-width: 500px)
{
    .order_item > input
    {
        width: 110px;
    }

    .order_item > input
    {
        display: block;
    }
}
