.popular
{
    grid-area: popular;
    background-color: white;
    padding: 7%;
    margin-left: 7%;
}

.popular_item
{
    display: block;
    text-decoration: none;
    margin-bottom: 4%;
}

@media screen and (max-width: 979px)
{
    .popular
    {
        margin-left: 0%;
        padding-top: 2%;
    }

    .popular_wrapper
    {
        display: flex;
        justify-content: space-between;
    }

    .popular_item
    {
        display: inline;
    }
}

@media screen and (max-width: 500px)
{
    .popular_wrapper
    {
        display: block;
    }

    .popular_item
    {
        display: block;
    }
}
