.popular
{
    margin-left: 30%;
    padding-left: 10px;
    height: 200px;
    width: 60%;
}

.popular__header
{
    margin-top: 10px;
    font-weight: bold;
}

.popular-items
{
    height: 80%;
    display: flex;
    flex-direction: column;
}

.popular__item
{
    margin-top: 10px;
}