.order-form
{
    grid-area: order;
    padding: 20px 80px 40px;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
}

.order-form__field
{
    display: block;
}

.order-form__title
{
    font-size: 36px;
    margin: 0 0 20px;
}

.order-form__field
{
    display: flex;
    justify-content: space-between;
}

.order-form__input
{
    box-sizing: border-box;
    width: 150px;
    margin-bottom: 10px;
}

.order-form__submit
{
    float: right;
}
