.form
{
    grid-area: form;
    background-color: white;
    padding: 0 30px 30px;
    margin: 10px 10px 0;
}

.field
{
    clear: both;
    text-align: right;
    margin-bottom: 16px;
}

label
{
    float: left;
    margin-right: 160px;
}

.form__wrap
{
    float: left;
}

@media screen and (max-width: 1200px) and (min-width: 720px)
{
    .form
    {
        margin: 0 125px;
    }
    
}
