.market-info__header
{
    background-color: white;
    height: 70px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market-info__logo
{
    font-size: 30px;
}

.market-info__search-field
{
    border: 2px solid #d3d3d3;
    height: 25px;
    width: 800px;
}

.market-info__serach-button
{
    width: 80px;
    height: 31px;
    background-color: #d3d3d3;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    margin-left: -10px;
}

.market-info__menu,
.market-info__serach-button-img
{
    display: none;
}

.market-info__menu-img
{
    width: 30px;
}

@media screen and (max-width: 1150px) and (min-width: 720px)
{
    .market-info__header
    {
        justify-content: space-around;
        background-color: white;
    }

    .market-info__serach-button
    {
        display: none;
    }

    .market-info__search-field,
    .market-info__serach-button-img
    {
        display: inline-block;
    }

    .market-info__search-field:not(:focus){
        opacity: 0;
    }

    .market-info__search-field:focus{
        opacity: 1;
    }

    .market-info__serach-button-img img
    {
        width: 30px;
    }

    .market-info__search-field
    {
        border: none;
        width: 400px;
    }
}

@media screen and (max-width: 720px)
{
    .market-info__header
    {
        background-color: white;
        display: block;
    }

    .market-info__search-field
    {
        border: 2px solid yellow;
        height: 25px;
        width: 98%;
    }

    .market-info__menu
    {
        display: block;
    }

    .market-info__serach-button
    {
        display: none;
    }

    .market-info__content
    {
        display: flex;
        justify-content: space-between;
    }
}
