.header
{
    grid-area: h;
    padding: 5px 10px 10px;
    display: grid;
    background-color: #fff;
}

.header__title
{
    grid-area: t;
    font-size: 25px;
    margin: 0;
}

.header__burger
{
    display: none !important;
}

.search
{
    grid-area: s;
    width: 100%;
    display: flex;
}

.search__input,
.search__button
{
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    height: 30px;
}

.search__input
{
    width: 90%;
}

.search__button
{
    background-color: #e8e8e8;
}

.header__search-icon
{
    display: none !important;
}

@media screen and (min-width: 601px) and (max-width: 850px)
{
    .header
    {
        grid-template-areas: 't s';
    }

    .search
    {
        display: none;
    }

    .header__search-icon
    {
        display: block !important;
        position: absolute;
        top: 10px   ;
        right: 10px;
    }
}

@media screen and (max-width: 600px)
{
    .header
    {
        grid-template-areas: 't b' 's s';
    }

    .header__burger
    {
        grid-area: b;
        margin: auto 0 auto auto;
        display: block !important;
    }
}
