@import url('./css/pad/search-bar.css');
@import url('./css/pad/nav.css');
@import url('./css/pad/popular.css');
@import url('./css/pad/item-list.css');

@media (min-width: 480px) and (max-width: 800px)
{
    body
    {
        margin: 0;
    }

    .body
    {
        background: #c9dff5;
        height: 100%;
    }

    .phone-sandwich
    {
        display: none;
    }

    .link
    {
        color: #00f;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }

    .white-block
    {
        background-color: #fff;
        border: 2px solid #afaeae;
    }

    .center
    {
        padding: 5px;
        width: 50%;
        margin: 20px auto;
    }

}
