@import url('./css/desktop/search-bar.css');
@import url('./css/desktop/nav.css');
@import url('./css/desktop/popular.css');
@import url('./css/desktop/item-list.css');
@import url('./css/desktop/order-form.css');

@media (min-width:800px)
{
    .body
    {
        display: grid;
        background: #c9dff5;
        width: 100%;
    }

    .phone-sandwich
    {
        display: none;
    }

    .link
    {
        color: #00f;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
    }

    .link:hover
    {
        cursor: pointer;
    }

    .search-bar
    {
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .nav
    {
        grid-column: 1;
        grid-row: 2 / 5;
    }

    .popular
    {
        grid-column: 4;
        grid-row: 2 / 5;
    }

    .item-list
    {
        grid-column: 2 / 4;
        grid-row: 2 / 5;
    }

    .order-form
    {
        grid-column: 2 / 4;
        grid-row: 6;
    }

    .white-block
    {
        background-color: #fff;
        border: 2px solid #afaeae;
    }
}
