* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: grid;
    grid-template-areas:
        ". h h h ."
        ". n c t ."
        ". . f . .";

    grid-gap: 20px;
    grid-template-columns: auto 250px 600px 250px auto;

    grid-template-rows: auto min-content min-content;

    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.header {
    text-align: center;
    grid-area: h;
}

.header__logo {
    display: inline-block;
    height: 33px;
    vertical-align: top;
}

.header__search-string {
    text-align: left;
    font-size: 130%;
    width: 911px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    border: 2px solid #ccc;
}

.header__search-string:focus {
    outline-width: 0;
}

.header__search-button {
    font-size: 130%;
    display: inline-block;
    margin-left: -6px;
    vertical-align: top;
    background: #ccc;
    width: 110px;
    text-align: center;
    border: 2px solid #ccc;
}

.header__search-button:hover {
    background: #aaa;
    border-color: #aaa;
    cursor: pointer;
}

.navigation {
    grid-area: n;    
}

.navigation__wrapper {
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ddd;
}

.navigation__item {
    display: block;
    margin-bottom: 20px;
    text-decoration: none; 
}

.cards {
    grid-area: c;
    display: flex;
    flex-wrap: wrap;

    border: 1px solid black;
}

.trends {
    grid-area: t;

    border: 1px solid black;
}

.order-form {
    grid-area: f;

    border: 1px solid black;
}

.card {
    flex-grow: 0;
    flex-basis: 50%;
    height: 400px;
    padding: 20px;

    background: #f2f2f2;
    border: 1px solid #ddd;
}


.card__image-container {
    position:relative;
    width: 100%;
    height: 70%;

    border: 1px solid black;
}

.card__image {
    max-width: 100%;
    max-height: 100%;

    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;

    border: 1px solid black;
}

.card__title {
    height: 10%;

    border: 1px solid black;
}

.card__link {
    text-decoration: none;
}

.card__price {
    height: 10%;
    font-weight: 600;
    border: 1px solid black;
}

.card__rating {
    height: 10%;

    border: 1px solid black;
}

.card__rating-square {
    vertical-align: top;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    height: 24px;
    width: 38px;
    margin:0;
}

.card__rating-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -6px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.card__rating-square_green {
    background-color: #390
}

.card__rating-triangle_green {
    border-left: 10px solid #390;
}


.card__rating-square_blue {
    background-color: #7af
}

.card__rating-triange_blue {
    border-left: 10px solid #7af;
}

.card__rating-square_red {
    background-color: #d20;
}

.card__rating-triange_red {
    border-left: 10px solid #d20;
}

.card__reviews {
    vertical-align: top;
    display: inline-block;

    height: 24px;
    line-height: 24px;

    font-size: 70%;

    color: #888;

    border: 1px solid black;
}


