@import url("./css/pad/search-bar.css");
@import url("./css/pad/nav.css");
@import url("./css/pad/popular.css");
@import url("./css/pad/item-list.css");
@import url("./css/pad/order-form.css");

body
{
    /* background: #dbd8d8; */
    background: #c1f177;
}

.white-block
{
    background-color: #fff;    
    border: 2px solid #afaeae;    
}

.center
{
    padding: 5px;
    width: 50%;
    margin: 20px auto;
}
