@font-face
{
    font-family: Evolve;
    src: url(fonts/Evolve.otf);
}

@font-face
{
    font-family: Century;
    src: url(fonts/Century.ttf);
}

body
{
    margin: 0;
    overflow-x: hidden;
}

header
{
    display: grid;
    grid-template-areas: 'h f';
    grid-template-rows: 100px;
    grid-template-columns: 25% 75%;
}

.store-name
{
    grid-area: h;
    margin: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font: 35px Evolve, sans-serif;
}

.store-search
{
    grid-area: f;
    position: relative;
}

.store-search__search-input
{
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border: 2px solid #373737;
    border-radius: 5px;
    outline: none;
    background: #fafafa;
    color: #696767;
    padding-left: 5px;
    font: 23px serif;
}

.store-search__search-button
{
    position: absolute;
    top: 20px;
    right: 20%;
    width: 80px;
    height: 50px;
    border: none;
    background: #373737;
    font: bold 17px sans-serif;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main
{
    padding-bottom: 20px;
    background: radial-gradient(ellipse farthest-corner at right bottom,
    #cdcdcd 0%, #dcdcdc 25%, #f0f0f0 50%, #e1e1e1 75%, #d7d7d7 100%);
    display: grid;
    grid-template-areas: 'c s s s p' 'c s s s p' 'c o o o p';
    grid-template-columns: 20%;
}

.store-categories
{
    grid-area: c;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 30px;
    padding: 15px;
    border: 1px #bfbfbf solid;
    box-shadow: 0 0 10px 0 #626262 inset, 0 0 1px 0 #717171;
    overflow: hidden;
}

.store-categories__category
{
    margin: 5px 0;
    text-decoration: none;
}

.store-categories__order
{
    margin-top: 40px;
    text-decoration: none;
}

.store-souvenirs
{
    grid-area: s;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.souvenir
{
    margin: 10px 2.5%;
    background-color: white;
    box-shadow: 0 0 5px 1px #919191;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.souvenir__image
{
    margin: auto;
    max-width: 80%;
    max-height: 300px;
    padding-top: 20px;
}

.souvenir__name
{
    text-decoration: none;
    text-align: center;
    width: 100%;
    font: 21px sans-serif;
}

.souvenir__price
{
    font: 18px sans-serif;
    font-weight: bold;
    width: 100%;
}

.souvenir__rating
{
    text-align: center;
    margin-left: 30px;
    width: 5%;
    border-radius: 100%;
    font-weight: bold;
    color: white;
}

.souvenir__rating_good
{
    background-color: #74b917;
}

.souvenir__rating_excellent
{
    background-color: #00b900;
}

.souvenir__reviews-count
{
    color: #555;
}

.souvenir__rating,
.souvenir__reviews-count,
.souvenir__price
{
    padding: 10px 30px;
}

.store-popular
{
    grid-area: p;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 30px;
    padding: 15px;
    border: 1px #bfbfbf solid;
    box-shadow: 0 0 10px 0 #626262 inset, 0 0 1px 0 #717171;
    overflow: hidden;
}

.store-popular__title
{
    margin: 0 0 20px;
}

.store-popular__souvenir
{
    margin: 5px 0;
    text-decoration: none;
}

.store-order
{
    grid-area: o;
    box-shadow: 0 0 5px 1px #919191;
    background-color: white;
    margin: 50px auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding-bottom: 10px;
}

.store-order__title
{
    font: 25px Century, sans-serif;
    width: 90%;
}

.store-order__tel_label,
.store-order__tel_input,
.store-order__email_label,
.store-order__email_input,
.store-order__count_label,
.store-order__count_input,
.store-order__date_label,
.store-order__date_input,
.store-order__city_label,
.store-order__city_select,
.store-order__submit,
.store-order__reset
{
    width: 45%;
    margin: 5px 0;
    font: 20px serif;
}

.store-order__tel_input,
.store-order__email_input,
.store-order__count_input,
.store-order__date_input,
.store-order__city_select,
.store-order__submit,
.store-order__reset
{
    border-radius: 5px;
}

.search-icon,
.menu-icon,
.close-icon
{
    display: none;
}

@media (max-width: 1024px)
{
    header
    {
        grid-template-columns: 80% 20%;
    }

    main
    {
        grid-template-areas: 'c c' 's s' 'p p' 'o o';
    }

    .search-icon
    {
        background-image: url('images/searching-glass.svg');
        display: block;
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        margin: auto;
        grid-area: f;
        cursor: pointer;
    }

    .store-search
    {
        display: none;
    }

    .store-categories
    {
        height: 150px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .store-categories__category
    {
        text-align: center;
        width: 45%;
    }

    .store-categories__order
    {
        text-align: center;
        width: 100%;
    }

    .store-popular
    {
        height: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .store-popular__title
    {
        width: 90%;
    }
}

@media (max-width: 640px)
{
    header
    {
        grid-template-areas: 'h b' 'f f';
        grid-template-rows: 50px;
    }

    main
    {
        grid-template-areas: 'p p' 's s' 'o o';
    }

    .menu-icon
    {
        background-image: url('images/menu-button.svg');
        display: block;
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        margin: auto;
        grid-area: b;
        cursor: pointer;
    }

    .close-icon
    {
        background-image: url('images/close.svg');
        display: block;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-left: 75%;
        margin-top: 20px;
    }

    .souvenir
    {
        width: 90%;
    }

    .store-search
    {
        display: block;
        margin: 10px;
    }

    .search-icon
    {
        display: none;
    }

    .store-categories
    {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        margin: 0;
        width: 50%;
        height: 400px;
    }

    .store-popular
    {
        padding: 25px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
