.items
{
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
    justify-content: center;
    width: 100%;
}

.item
{    
    background-color: white;
    padding: 70px 30px;
    margin: 1px;
    width: 40%;
}

.item__imgSource
{
    width: 100%;
}

.item__img
{
    margin-bottom: 16px;
}

.item__subtitle,
.item__price
{
    margin-bottom: 8px;
}

.item__price
{
    font-weight: bold;    
}

.item__rating
{
    position: relative;
    display: inline-block;
    width: 27px;
    height: 18px;
    margin-right: 14px;
    padding: 2px 0 0 2px;
    color: #fff;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #359e00;
    background: #359e00;
}

.rating__corner
{
    position: absolute;
    top: -3px;
    right: -11px;
    bottom: -4px;
    clip: rect(0,13px,26px,1px);
    width: 12px;
}

.rating__triangle
{
    position: absolute;
    top: 3px;
    bottom: -2px;
    left: 0;
    z-index: 1;
    clip: rect(-1px,11px,21px,0);
    width: 12px;
    height: 26px;
}

.rating__triangle:after
{
    width: 12px;
    height: 12px;
    -webkit-transform: scaleX(.5) rotate(45deg);
    -ms-transform: scaleX(.5) rotate(45deg);
    transform: scaleX(.5) rotate(45deg);
    border-color: #359e00;
    background: 0 0 #359e00;
    top: 1px;
    left: -8px;
    border-width: 3px;
}

.rating__corner:after, .rating__triangle:after, .rating_outline_yes:before
{
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
}

@media screen and (max-width: 1200px) and (min-width: 720px)
{
    .item
    {
        width: 30%;
    }
}
