.items
{
    grid-area: l;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 851px)
{
    .items
    {
        width: 610px;
    }
}

@media screen and (min-width: 601px)
{
    .items
    {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px)
{
    .items
    {
        flex-direction: column;
    }
}
