.order
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}

.order__title
{
    margin: 0 0 10px;
    font-weight: normal;
}

.order__row
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.order__input
{
    box-sizing: border-box;
    min-width: 100px;
    flex-basis: 50%;
}

.order__buttons
{
    display: flex;
    justify-content: space-between;
}
