.head
{
    display: grid;
    grid-template-areas: 'title . input button';
    grid-template-columns: max-content 1em auto max-content;
    padding: 2em;

}

.head .head__hamburger
{
    grid-area: hamburger;
    justify-self: flex-end;
    padding-right: 0;
    display: none;
}

@media screen and (max-width: 767px)
{
    .head
    {
        /*noinspection Stylelint*/
        grid-template-areas: 'title   .     .   hamburger'
            'input input input button';
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: auto auto;
        grid-row-gap: 1em;
    }

    .head .head__hamburger
    {
        display: inline-block;
    }
}

.head__title
{
    grid-area: title;
    font-weight: lighter;
    font-size: 33pt;
    text-wrap: none;
}

.head__input
{
    grid-area: input;
    border: solid #e8e8e8;
    border-radius: .25rem 0 0 .25rem;
}

.head__button
{
    grid-area: button;
    width: max-content;
    background-color: #e8e8e8;
    border: solid #e8e8e8;
    border-radius: 0 .25rem .25rem 0;
    font-size: 18pt;
    padding: 1rem 1.5rem 1rem 1em;

}

