.order
{
    background: white;
    grid-area: form;
    height: 400px;
    border: 1px solid rgb(232, 232, 232);
    width: 720px;
    justify-self: center;
}

.form__inputs
{
    border: none;
}

.order__header
{
    text-align: center;
}

.inputs-header
{
    font-size: 18px;
    width: 250px;
}

.order-item
{
    padding: 5px;
    width: 200px;
}

.form__inputs__items
{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.order__buttons
{
    display: flex;
    margin-left: 120px;
    justify-content: space-between;
}

.order__buttons_order,
.order__buttons_cancel
{
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    width: 170px;
}

@media screen and (max-width : 576px)
{
    .order
    {
        grid-area: forms;
        padding: 30px;
        width: 292px;
        font-size: 13px;
        height: 300px;
        margin-left: -20px;
    }

    .form__inputs__items
    {
        width: 290px;
    }
}
