.content_close
{
    display: none;
}

.content-menu
{
    background: white;
    grid-area: 🦍 ;
    border: 2px solid rgb(232, 232, 232);
    justify-content: center;
    padding: 20px;
    line-height: 2;
}

.content-menu__item
{
    width: 160px;
}

@media screen and (max-width : 768px)
{
    .content-menu
    {
        grid-area: 🦍 ;
        display: flex;
        width: 675px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .content-menu__item
    {
        margin: 90px;
    }
}

@media screen and (max-width : 576px)
{
    .content_close_block
    {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 5;
        display: block;
    }

    .content_close_none
    {
        display: none;
    }

    .content-menu__icon
    {
        display: block;
    }

    .content-menu__item
    {
        width: 50px;
        margin: 0;
    }

    .content-menu_block
    {
        z-index: 3;
        padding-top: 70px;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
    }

    .content-menu_none
    {
        display: none;
    }

    .scroll-hidden
    {
        overflow: hidden;
    }
}
