.nav
{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background: #fff;
    margin: 20px 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    align-self: flex-start;
}

.nav__close
{
    display: none;
    width: 24px;
    height: 24px;
    background-image: url('../images/clear/web/ic_clear_black_24dp_1x.png');
    background-size: contain;
}

.nav__list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list li
{
    margin: 10px 0;
}

.nav__list-link
{
    text-decoration: none;
    color: #04b;
}

.nav__list-link_new-order
{
    margin: 20px 0;
}

@media (min-resolution: 192dpi),
    (min-resolution: 2dppx)
{
    .nav__close
    {
        background-image: url('../images/clear/web/ic_clear_black_24dp_2x.png');
    }
}

@media (max-width: 768px)
{
    .nav
    {
        max-width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}

@media (max-width: 480px)
{
    .nav
    {
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        width: 50%;
        height: 100%;
        padding-top: 40px;
        display: none;
        z-index: 4000;
    }
    
    .nav__close
    {
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
    }
}
