.popular {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background: #fff;
    margin: 20px 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    align-self: flex-start;
}

.popular__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.popular__list li {
    margin: 10px 0;
}

.popular__list-link {
    text-decoration: none;
    color: #04b;
}

@media (max-width: 768px) {
    .popular {
        max-width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .popular {
        max-width: 295px;
        align-self: center;
    }
}
