.popular-products
{
    border: thin solid #e6e6e6;
    height: max-content;
    padding: 10px;
    display: flex;
    grid-area: aside;
    flex-direction: column;
    background: white;
}

.popular-products a
{
    margin: 5px;
}
