@import './common.css';
@import './header.css';
@import './page.css';

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    margin: 0;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: #111;
}
