.menu__title
{
    display: none;
}

.menu
{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background-color: #FFFF;
    margin-left: var(--margin-for-blocks);
    height: calc(var(--device-independet-font-size)*15);
    border: .3vmax solid var(--color-theme-dark);
    border-radius: .3vmax;
}

.menu_show-button
{
    display: none;
}

.menu__item
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-decoration: none;
    color: #00F;
    display: block;
    margin: .8vmax 0;
}

.menu__category-items,
.menu__side-items
{
    margin: 1.5vmax;
}

.menu__item:hover
{
    color: var(--color-anchor-hover);
}

.menu__item:active
{
    color: var(--color-anchor-active);
}

@media screen and (max-width: 768px) 
{ 
    .menu
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        /* margin: 0; */
        margin: var(--margin-for-blocks) 0;
        /* height: calc(var(--device-independet-font-size)*11); */
        height: auto;
    }

    .menu__category-items
    {
        display: flex;
        flex-wrap: wrap;
    }

    .menu__side-items > .menu__item
    {
        width: 100%;
    }

    .menu__item
    {
        width: 50%;
        text-align: center;
        font-size: calc(var(--device-independet-font-size)*1.4);
    }
}

@media screen and (max-width: 576px) 
{
    .menu
    {
        display: none;
        position: absolute;
        width: 50%;
        margin: 0;
        top: 0;
        right: 0;
    }

    .menu__category-items
    {
        display: flex;
    }

    .menu__item
    {
        width: 100%;
        text-align: center;
        font-size: calc(var(--device-independet-font-size)*2);
    }

    .menu_show-button
    {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        margin: calc(var(--header-font-size)*.3);
        height: var(--header-font-size);
        width: var(--header-font-size);
        cursor: pointer;
        
    }
}