.order 
{
    grid-column: 2 / 3;
    margin-bottom: var(--margin-for-blocks);
    padding: 1.5vmax 7vmax;
    border-width: .2vmax;
    border-style: solid;
    border-color: var(--color-theme-dark);
    background-color: #fff;
}

.order__title 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--device-independet-font-size)*2);
    font-weight: normal;
}

.order__info 
{
    /* работает только в Firefox, Safari (частично) */
    display: grid;
    /* работает только в Firefox, Safari (частично) */
    grid-template-columns: 5fr 4fr;
    margin: 2vmax 0 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--standard-font-size);
}

.order__info_append-title 
{
    display: none;
}

.order__input 
{
    display: block;
    /* работает только в Firefox, Safari (частично) */
    grid-column: 2 / 3;
    width: 100%;
    margin: 0 0 1vmax;
}

.order__buttons 
{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.order_reset,
.order_submit 
{
    border-radius: .5vmax;
    background-color: white;
}

@media screen and (max-width: 768px) 
{
    .order 
    {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        padding: 15%;
    }
    .order__title 
    {
        font-size: calc(var(--device-independet-font-size)*2.5);
    }
}

@media screen and (max-width: 576px) 
{
    .order 
    {
        grid-row: 3 / 4;
        margin: var(--margin-for-blocks) 0;
    }
    .order__title 
    {
        white-space: nowrap;
    }
}
