.popular
{
    grid-column: 3 / 4;
    background-color: #FFFF;
    margin-right: var(--margin-for-blocks);
    height: calc(var(--device-independet-font-size)*12);
    border: .3vmax solid var(--color-theme-dark);
    border-radius: .3vmax;
}

.popular__title
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(var(--device-independet-font-size)*1.1);
    text-align: center;
}

.popular__items
{
    margin: 0 1.6vmax;
}

.popular__item
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--device-independet-font-size);
    text-decoration: transparent;
    color: #00F;
    display: block;
    margin: 0.8vmax 0;
}

.popular__item:hover
{
    color: var(--color-anchor-hover);
}

.popular__item:active
{
    color: var(--color-anchor-active);
}

@media screen and (max-width: 768px) 
{ 
    .popular
    {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0;
        /* height: calc(var(--device-independet-font-size) * 1.5 * 1.4 * 4); */
        height: auto;
    }

    .popular__title
    {
        margin: 1.6vmax;
        font-size: calc(var(--device-independet-font-size) * 1.5);
        text-align: left;
    }

    .popular__items
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .popular__item
    {
        font-size: calc(var(--device-independet-font-size) * 1.4);        
    }
}

@media screen and (max-width: 576px) 
{
    .popular
    {
        margin: var(--margin-for-blocks) 0;
        grid-row: 1 / 2;
        /* height: calc(var(--device-independet-font-size) * 2.5 *  2.3 * 4); */
        height: auto;
    }

    .popular__title
    {
        font-size: calc(var(--device-independet-font-size) * 2.5);
    }

    .popular__items
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popular__item
    {
        font-size: calc(var(--device-independet-font-size) * 2.3);        
    }
}