.popular 
{
    grid-column: 3 / 4;
    height: calc(var(--device-independet-font-size) * 15);
    margin-right: var(--margin-for-blocks);
    border: .3vmax solid var(--color-theme-dark);
    border-radius: .3vmax;
    background-color: #fff;
}

.popular__title 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1.5vw * 1.2);
    font-weight: bold;
    text-align: center;
}

.popular__items 
{
    margin: 0 1.6vmax;
}

.popular__item 
{
    display: block;
    margin: .8vmax 0;
    color: #00f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-decoration: transparent;
}

.popular__item:hover 
{
    color: var(--color-anchor-hover);
}

.popular__item:active 
{
    color: var(--color-anchor-active);
}

@media screen and (max-width: 768px) 
{
    .popular 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        height: auto;
        margin: var(--margin-for-blocks) 0;
        padding: 5%;
    }
    .popular__title 
    {
        margin: 0 0 1.6vmax;
        font-size: 2.4vw;
        text-align: left;
    }
    .popular__items 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .popular__item 
    {
        flex-basis: 50%;
        font-size: 2vw;
        text-align: center;
    }
}

@media screen and (max-width: 576px) 
{
    .popular 
    {
        display: block;
        grid-row: 1 / 2;
        height: auto;
        margin: var(--margin-for-blocks) auto;
    }
    .popular__title 
    {
        font-size: calc(var(--device-independet-font-size) * 2);
    }
    .popular__items 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popular__item 
    {
        font-size: calc(var(--device-independet-font-size) * 2.3);
    }
}
