.product
{
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    border-style: solid;
    border-color: var(--color-theme-dark);
    border-width: 0 .2vmax .2vmax 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--standard-font-size);
    text-decoration: none;
}

.product__basic-feature
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__photo
{
    margin: 5% 5% 0;
    width: 90%;
}

.product__title
{
    width: 100%;
    text-align: center;
    font-size: var(--standard-font-size);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #00f;
}

.product__title_par
{
    width: 100%;
}

.product__title:hover
{
    color: var(--color-anchor-hover);
}

.product__title:active
{
    color: var(--color-anchor-active);
}

.product__other-info
{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.product__price
{
    width: 100%;
    font-family: 'Yandex Sans Text Bold', sans-serif;
    font-size: 200%;
    margin-bottom: 5%;
}

.product__rating
{
    margin-right: 10%;
    font-size: var(--standard-font-size);
    color: #fff;
    background-color: #c4ca26;
    padding: calc(var(--standard-font-size)*.5);
    height: var(--standard-font-size);
}

.product__rating::after
{
    content: '';
    display: block;
    position: relative;
    bottom: calc((var(--standard-font-size)*1.55));
    left: calc((var(--standard-font-size)*2));
    width: 0;
    height: 0;
    border: var(--standard-font-size) solid #0000;
    border-left-width: calc(var(--standard-font-size)*.5);
    border-left-color: #c4ca26;
}

.product__feedback
{
    color: #7f7f7f;
}

@media screen and (max-width: 768px) 
{
    .product
    {
        font-size: calc(var(--standard-font-size)*.8);
    }
}

@media screen and (max-width: 576px) 
{
    .product
    {
        font-size: calc(var(--standard-font-size)*.8);
        width: 100%;
    }
}
