@import 'product.css';

.products-list
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    border: .1vmax solid var(--color-theme-dark);
    background-color: #FFFF;
    margin: var(--margin-for-blocks) 0;
}

.products-list__title
{
    display: none;
}

