.search 
{
    display: flex;
    box-sizing: border-box;
    flex-flow: row-reverse;
    flex-grow: 4;
    height: calc(var(--header-font-size) * 1.3);
    margin: 1.3vmax 4vmax;
}

.search_hide,
.search_hide-checkbox 
{
    display: none;
}

.search__input,
.search__button 
{
    box-sizing: border-box;
    height: calc(var(--header-font-size) * 1.3);
    padding: 0;
    border: .3vmax solid var(--color-theme);
    outline: none;
    font-size: 2vmax;
}

.search__input 
{
    flex-grow: 7;
    border-right: none;
    border-radius: .5vmax 0 0 .5vmax;
}

.search__button 
{
    flex-grow: 1;
    border-left: none;
    border-radius: 0 .5vmax .5vmax 0;
    background-color: var(--color-theme);
    font-size: 2vw;
    cursor: pointer;
}

.search__button:hover 
{
    background: radial-gradient(var(--color-theme-dark), var(--color-theme));
}

.search__button:focus,
.search__button:active,
.search__button:focus + .search__input,
.search__button:active + .search__input 
{
    border: .3vmax solid #4d90fe;
}

.search__input:focus 
{
    border: .3vmax solid #4d90fe;
}

@media screen and (max-width: 768px) 
{
    .search 
    {
        display: none;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        margin: 1.3vmax 0;
    }
    .search_hide 
    {
        display: block;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: right;
        align-self: center;
        width: var(--header-font-size);
        height: var(--header-font-size);
        margin: calc(var(--header-font-size) * .3);
        background-image: url(./pics/search.png);
        background-size: 100%;
        cursor: pointer;
    }
    .search_hide-checkbox 
    {
        display: none;
    }
    .order__title 
    {
        font-size: calc(var(--device-independet-font-size) * 2.8);
    }
    .search_visible
    {
        display: flex;
    }
    .search_hidden
    {
        display: none;
    }
}

@media screen and (max-width: 576px) 
{
    .search 
    {
        display: flex;
        grid-column: 1 / end;
        grid-row: 2 / end;
        height: calc(var(--header-font-size) * 1.8);
        margin: 1.3vmax 5.3vmax;
    }
    .search__input,
    .search__button 
    {
        height: calc(var(--header-font-size) * 1.8);
        font-size: 4vw;
    }
    .search_hide 
    {
        display: none;
    }
}
