.navigation__close-button
{
    display: block;
    background: white;
    border: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.navigation__close-button:after
{
    content: '\2716';
    font-size: 20px;
    color: black;
}
