.product__rating
{
    font-size: 13px;
    line-height: 15px;
    position: relative;
    display: inline-block;
    width: 27px;
    height: 22px;
    margin-right: 14px;
    padding: 2px 0 0 2px;
    text-align: center;
    cursor: default;
    color: #fff;
    border-width: 2px 0 2px 2px;
    border-style: solid;
}

.product__rating[rate='5']
{
    border-color: #359e00;
    background: #359e00;
}

.product__rating[rate='4']
{
    border-color: #8cb400;
    background: #8cb400;
}

.product__rating[rate='2']
{
    border-color: #f6c000;
    background: #f6c000;
}

.product__rating::before
{
    top: -4px;
    right: 0;
    bottom: -4px;
    left: -4px;
    border-width: 2px 0 2px 2px;
}
