@media (min-width: 1240px)
{
    .header
    {
        display: flex;
        padding-top: 35px;
    }

    .header__service-name
    {
        width: 270px;
    }

    .header__search
    {
        width: calc(100% - 430px);
        position: relative;
        display: flex;
    }

    .search__input
    {
        padding: 5px 10px;
        width: calc(100% - 120px);
        height: 20px;
        border: 2px solid #d3d3d3;
        border-right: none;
        outline: 0;
        outline-offset: 0;
    }

    .search__desktop
    {
        display: block;
        height: 34px;
        width: 100px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .main
    {
        display: grid;
        padding: 20px 5px;
        grid-gap: 15px;
        grid-template-areas: 'n m p'
            'e1 m e2'
            'e1 f e2';
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /*
        n - navigation
        m - main block
        p - popular
        f - form
        e - empty
         */
    }

    .navigation
    {
        grid-area: n;
        border: solid 1px #e0e0e0;
        padding: 20px 20px 0;
    }

    .navigation__product-links
    {
        display: flex;
        flex-direction: column;
    }

    .product-links__element
    {
        padding-bottom: 15px;
    }

    .navigation__order
    {
        padding-top: 25px;
    }

    .product-links__element,
    .navigation__order
    {
        font-size: 18px;
        color: #33c;
        cursor: pointer;
    }

    .navigation,
    .popular-block,
    .main-block,
    .order
    {
        background: #fff;
        margin: 40px 35px;
    }

    .popular-block
    {
        grid-area: p;
        border: solid 1px #e0e0e0;
        padding: 15px 20px;
    }

    .popular-block__title
    {
        font-weight: 700;
        padding-bottom: 20px;
    }

    .popular-block__products
    {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .products__element
    {
        font-size: 18px;
        padding-bottom: 10px;
        color: #33c;
        cursor: pointer;
        margin-bottom: 7px;
    }

    .main-block
    {
        grid-area: m;
        display: flex;
        flex-wrap: wrap;
    }

    .main-block__product
    {
        width: calc(36% - 2px);
        border: solid 1px #e0e0e0;
        padding: 7%;
    }

    .product__picture-block
    {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product__image
    {
        width: 80%;
    }

    .product__name
    {
        padding-top: 50px;
        color: #3a3ace;
        cursor: pointer;
    }

    .product__price
    {
        padding-top: 20px;
        font-weight: 600;
    }

    .product__review
    {
        padding-top: 15px;
        display: flex;
        align-items: center;
    }

    .product__review-rating
    {
        display: flex;
    }

    .product__rating-rectangle
    {
        background: #8cb512;
        color: #fff;
        padding: 2px 4px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .product__rating-triangle
    {
        border: 20px solid transparent;
        border-left: 6px solid #8cb512;
    }

    .product__review-count
    {
        color: grey;
    }

    .order
    {
        grid-area: f;
        border: solid 1px #e0e0e0;
    }
}
