@media (max-width: 480px) {
    .order-form__controls
    {
        padding: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .order-form__header
    {
        width: 60%;
        font-weight: bold;
        margin: 10px auto;
    }

    .order-form__name
    {
        white-space: nowrap;
        overflow: scroll;
        width: 35%;
    }

    .order-form__input
    {
        width: 120px;
    }
}