.menu
{
    grid-area: m;
    background: white;
    flex-direction: column;
    padding: 15px;
    margin: 0;
}

.menu__item
{
    display: block;
    margin: 10px 0;
}

.menu__item:last-of-type
{
    margin-top: 20px;
}

@media(max-width: 850px)
{
    .menu__item
    {
        width: calc(50% - 17px);
        padding: 7.5px;
        text-align: center;
        display: inline-block;
        margin: 0 !important;
    }

    .menu__item:last-of-type
    {
        width: calc(100% - 22px);
    }

    .menu
    {
        padding: 0;
    }
}
