.menu
{
    grid-area: m;
    background: white;
    flex-direction: column;
    padding: 15px;
}

.menu__item
{
    display: block;
    margin: 10px 0;
}

@media(min-width: 850px)
{
    .menu__item:last-of-type
    {
        margin-top: 20px;
    }
}

@media(max-width: 850px)
{
    .menu__item
    {
        width: calc(50% - 22px);
        padding: 10px;
        text-align: center;
        display: inline-block;
    }

    .menu__item:last-of-type
    {
        width: calc(100% - 22px)
    }
}
