.popular
{
    grid-area: p;
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.popular__title
{
    font-size: 1rem;
}

.popular__items
{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

@media(max-width: 850px)
{
    .popular__items
    {
        flex-direction: row;
        margin: 5px;
        justify-content: space-between;
    }

    .popular
    {
        padding: 10px;
    }
}
