.navigation
{
    padding-top: 30px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

body
{
    position: relative;
}

.navigation a
{
    margin: 10px;
}
