.product__rating
{
    display: inline-block;
    width: 30px;
    height: 24px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
}
