@media (max-width: 767px)
{
    .header__search
    {
        width: 100%;
        position: relative;
        display: flex;
    }

    .search__input
    {
        padding: 5px 10px;
        width: calc(100% - 50px);
        height: 20px;
        border: 2px solid #ff0;
        border-right: none;
        outline: 0;
        outline-offset: 0;
    }

    .search__right-part_triangle
    {
        display: block;
        border: 16px solid transparent;
        border-left: 10px solid #ff0;
    }

    .search__right-part_triangle:after
    {
        content: '';
        position: absolute;
        right: 3px;
        top: calc(50% - 16px);
        border: 16px solid transparent;
        border-left: 10px solid #fff;
    }

    .search__hamburger
    {
        display: block;
        position: absolute;
        right: 0;
        top: -55px;
        width: 40px;
        cursor: pointer;
    }

    .main
    {
        display: grid;
        padding: 20px 5px;
        grid-gap: 15px;
        grid-template-areas: 'p'
            'm'
            'f';
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 3fr .5fr;
        /*
        n - navigation
        m - main block
        p - popular
        f - form
        e - empty
         */
    }

    .navigation
    {
        position: fixed;
        right: 0;
        top: 0;
        width: 65%;
        height: 100%;
        background: #fff;
        border: solid 1px #e0e0e0;
        padding: 20px 20px 0;
        z-index: 1;
    }

    .navigation__close
    {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 18px;
        cursor: pointer;
    }

    .navigation__product-links
    {
        display: flex;
        flex-direction: column;
    }

    .product-links__element
    {
        padding-bottom: 15px;
    }

    .navigation__order
    {
        padding-top: 25px;
    }

    .product-links__element,
    .navigation__order
    {
        font-size: 18px;
        color: #33c;
        cursor: pointer;
    }

    .popular-block,
    .main-block,
    .order
    {
        background: #fff;
        margin: 40px 35px;
    }

    .popular-block
    {
        grid-area: p;
        border: solid 1px #e0e0e0;
        padding: 15px 60px 20px 40px;
    }

    .popular-block__title
    {
        font-weight: 700;
        padding-bottom: 20px;
    }

    .popular-block__products
    {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .products__element
    {
        font-size: 18px;
        padding-bottom: 10px;
        color: #33c;
        cursor: pointer;
        margin-bottom: 7px;
    }

    .main-block
    {
        grid-area: m;
        display: flex;
        flex-wrap: wrap;
    }

    .main-block__product
    {
        width: calc(86% - 2px);
        border: solid 1px #e0e0e0;
        padding: 7%;
    }

    .product__picture-block
    {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product__image
    {
        width: 80%;
    }

    .product__name
    {
        padding-top: 50px;
        color: #3a3ace;
        cursor: pointer;
    }

    .product__price
    {
        padding-top: 20px;
        font-weight: 600;
    }

    .product__review
    {
        padding-top: 15px;
        display: flex;
        align-items: center;
    }

    .product__review-rating
    {
        display: flex;
    }

    .product__rating-rectangle
    {
        background: #8cb512;
        color: #fff;
        padding: 2px 4px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .product__rating-triangle
    {
        border: 20px solid transparent;
        border-left: 6px solid #8cb512;
    }

    .product__review-count
    {
        color: grey;
    }

    .order
    {
        grid-area: f;
        border: solid 1px #e0e0e0;
    }

    .order__form-reset,
    .order__form-submit
    {
        font-size: 12px;
    }

    .order__left-part-field
    {
        width: 45px;
        font-size: 12px;
        padding-right: 20px;
    }

    .order__right-part-field
    {
        padding: 5px;
        width: calc(100% - 90px);
    }
}
