@import url('./nav/nav.css');
@import url('./order/order.css');
@import url('./popular/popular.css');
@import url('./souvenirs/souvenirs.css');
@import url('./header/header.css');

main
{
    display: grid;
    grid-template-columns: auto 300px 300px auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 40px;
    grid-template-areas: '👻 👻 👻 👻'
        '😈 👽 👽 🤖'
        '. 👽 👽 .'
        '. 🤓 🤓 .';
    
    background: #f6f6f6;
}

@media
    screen and (max-width: 1260px)
{
    main 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
