@media (min-width:800px) {
    .popular
    {
        padding-left: 10px;
        margin-right: 3%;
        height: 200px;
        max-width: 100%;
    }

    .popular-items
    {
        padding-left: 10px;
        height: 80%;
        display: flex;
        flex-direction: column;
    }
}