.container
{
    display: grid;
    grid-template-areas: 'nav list aside'
        'nav form aside';
    padding: 30px;
    background-color: ghostwhite;
    box-shadow: -1px 0 0 0 #e6e6e6 inset, 0 -1px 0 0 #e6e6e6 inset, -1px
        -1px 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6, 0 -1px 0 0 #e6e6e6;
}
